{% extends 'base.html' %}
{% load static %}





{% block content %}

<div class="article-thumbnail"><img src="{{ object.thumbnail.url }}" id="article-thumbnail"></div>
<div class="article-title"><h1>{{ object.title }}</h1></div>
<div class="article-owner"><h2> object.owner مقاله ای از</h2></div>
<div class="article-date"><h4>{{ object.jalali_publish_date }}</h4></div>
<div class="article-description"><p>{{ object.description }}</p></div>
{% if object.category.completed_cateogry %}
    {% for object_category in object.category.completed_cateogry %}
        <div class="article-description"><p>{{ object_category }}</p></div>
    {% endfor %}
{% endif %}


<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="ذخیره"/>
</form>


{% endblock content %}


