{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}




<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="articleForm-submit">
        <input type="submit" value="ذخیره"/>        
    </div></form>


    {% for field in form %}
    <p>
    {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    </p>
    {% endfor %}
    {% if form.non_field_errors %}
    <div style="color: red">
        <p>{{form.non_field_errors}}</p>
    </div>
    {% endif %}




{% endblock %}